/* Home.css */

  /* .section1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .image-with-text {
    position: relative;
   
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
   */